!!! Strict

%html{ html_attrs("en-US"), "xmlns:fb" => "http://www.facebook.com/2008/fbml" }
  %head
    = stylesheet_link_tag "application", :cache => true
    = javascript_include_tag "jquery", :cache => true
    = yield :head

  %body
    = yield

    %div{ :id => "footer" }
      = javascript_include_tag "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US", :cache => true
      = javascript_include_tag "application", :cache => true
      = yield :footer
